<table>
<tr>
<th>Name</th>
<th>Description</th>
<th>SKU_ID</th>
<th>Price</th>
<th>Image</th>
</tr>
<% @products.each do |product| %>
<tr>
<td><%= link_to product.name,product_path(product) %></td>
<td><%= product.description %></td>
<td><%= product.sku_id %></td>
<td><%= product.price %></td>
<td><img src=<%= product.images[0][:img_path] %>></td>
</tr>
<% end %>
</table>
